---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Page not found">
  <main>
    <div
      class="flex flex-col items-center justify-center pt-40 text-black hero lg:pt-60 lg:pb-10 lg:mb-10"
    >
      <div class="text-center">
        <p
          class="mb-3 text-lg font-semibold tracking-wide md:text-xl text-blue-600 uppercase"
        >
          Never gonna give you up, never gonna let you down
        </p>
        <h1 class="mb-4 text-5xl md:text-7xl font-bold">
          Don't tell me you're too blind to see 👀
        </h1>
      </div>
    </div>
  </main>
</Layout>
