---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | Aayush Shukla">
  <div
    class="flex flex-col items-center justify-center pt-40 text-black hero lg:pt-30 lg:pb-10 lg:mb-10"
  >
    <div class="text-center">
      <p
        class="mb-3 text-lg font-semibold tracking-wide md:text-xl text-blue-600 uppercase"
      >
        Open source developer
      </p>
      <h1 class="mb-4 text-5xl md:text-7xl font-bold">Aayush Shukla</h1>
    </div>
  </div>
  <div class="mod-container mt-10 mb-20 lg:mb-40">
    <div class="flex flex-wrap items-center justify-center p-10 row">
      <div class="w-full lg:w-7/12">
        <h2 class="mb-4 h2">
          Hey, I am Aayush Shukla
          <span class="ml-2 wave">👋</span>
        </h2>

        <p>
          An open-source developer from India. I'm skilled in developing
          programs and applications in Java and Python, and developing static
          websites with React.
        </p>
        <h3 class="mt-6 mb-4 h4">My key areas of expertise are:</h3>
        <ul class="ml-5 list-disc">
          <li class="mb-1">
            <div class="inline-block font-medium">Programming</div>: I have more
            than 6 years of experience in programming, and know many languages,
            out of which my best are Python and Java.
          </li>
          <li class="mb-1">
            <div class="inline-block font-medium">Leadership</div>: I have led
            many projects, both public and private, and I am good at leading
            teams and strategizing roadmaps.
          </li>
          <!-- <li>

          </li> -->
        </ul>
        <a href="/about" class="h4 font-medium">
          <span class="anchor-link">and more...</span>
        </a>
      </div>
    </div>
  </div>
</Layout>
