---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Work | Aayush Shukla">
  <div class="pt-10 mt-40 mb-40 lg:pt-30 lg:mt-20 lg:mb-20">
    <div class="mod-container">
      <p
        class="mb-3 text-base font-semibold tracking-wide uppercase md:text-lg text-blue-600 lg:mb-5"
      >
        Showcase
      </p>{" "}
      <h1 class="w-full text-black h1 lg:max-w-4/5 sup:max-w-4/6">
        Check out my projects.{" "}
      </h1>
    </div>
    <div class="mod-container mt-16 lg:mt-40">
      <div class="flex flex-wrap justify-between row">
        <a
          href="https://github.com/a2ys/chess-ai"
          target="_blank"
          rel="noopener noreferrer"
          class="block w-full column lg:w-6/12 xl:w-5/12"
        >
          <div class="relative mb-10 thumbnail">
            <figure class="relative overflow-hidden">
              <img width="640" height="427" class="thumb" src="/chess.jpg" />
            </figure>{" "}
          </div>{" "}
          <h2 class="mb-2 h2">Chess Engine and AI</h2>{" "}
          <p>
            With plain Python, I created a Chess Engine and an AI agent which
            can play chess using the engine.
          </p>{" "}
          <p
            class="mt-4 text-sm font-bold tracking-wider uppercase text-blue-600"
          >
            Visit GitHub
          </p>
        </a>
        <a
          href="https://github.com/a2ys/website"
          target="_blank"
          class="block w-full column lg:w-6/12 xl:w-5/12 mt-16 lg:mt-0"
        >
          <div class="relative mb-10 thumbnail">
            <figure class="relative overflow-hidden">
              <img width="640" height="360" class="thumb" src="/website.png" />
            </figure>{" "}
          </div>{" "}
          <h2 class="mb-2 h2">Portfolio Website</h2>{" "}
          <p>
            My portfolio website created in React with TypeScript and Tailwind
            UI.
          </p>{" "}
          <p
            class="mt-4 text-sm font-bold tracking-wider uppercase text-blue-600"
          >
            Visit GitHub
          </p>
        </a>
      </div>
    </div>
    <div class="mod-container mt-16 lg:mt-40">
      <div class="flex flex-wrap justify-between row">
        <a
          href="https://github.com/schnell-sih/firstcheque"
          target="_blank"
          rel="noopener noreferrer"
          class="block w-full column lg:w-6/12 xl:w-5/12"
        >
          <div class="relative mb-10 thumbnail">
            <figure class="relative overflow-hidden">
              <img
                width="640"
                height="427"
                class="thumb"
                src="/firstcheque.png"
              />
            </figure>{" "}
          </div>{" "}
          <h2 class="mb-2 h2">FirstCheque: A Freelancing Platform</h2>{" "}
          <p>
            As a part of SIH, I, along with a team of 6, developed a freelancing
            platform in Next.js with Tailwind UI as a solution to the problem
            statement by the Punjab Government. The backend is powered by
            Supabase and the development is still going on.
          </p>{" "}
          <p
            class="mt-4 text-sm font-bold tracking-wider uppercase text-blue-600"
          >
            Visit GitHub
          </p>
        </a>
        <a
          href="https://github.com/a2ys/conversa"
          target="_blank"
          rel="noopener noreferrer"
          class="block w-full column lg:w-6/12 xl:w-5/12 mt-16 lg:mt-0"
        >
          <div class="relative mb-10 thumbnail">
            <figure class="relative overflow-hidden">
              <img width="640" height="427" class="thumb" src="/conversa.png" />
            </figure>{" "}
          </div>{" "}
          <h2 class="mb-2 h2">Conversa: A chat app developed in Kotlin</h2>
          <p>
            Conversa is a chat app developed in Kotlin with Firebase as the
            backend. It is currently in development, and I am working on adding
            more features to it. It is planned to have features like chatting,
            voice messages, and calls.
          </p>{" "}
          <p
            class="mt-4 text-sm font-bold tracking-wider uppercase text-blue-600"
          >
            Visit GitHub
          </p>
        </a>
      </div>
    </div>
    <div class="mod-container mt-16 lg:mt-40">
      <div class="flex flex-wrap justify-between row">
        <a
          href="https://github.com/ComputerSocietyVITC/club-website"
          target="_blank"
          rel="noopener noreferrer"
          class="block w-full column lg:w-6/12 xl:w-5/12"
        >
          <div class="relative mb-10 thumbnail">
            <figure class="relative overflow-hidden">
              <img width="640" height="427" class="thumb" src="/ieeecs.png" />
            </figure>{" "}
          </div>{" "}
          <h2 class="mb-2 h2">IEEE CS VITC Club Website</h2>
          <p>
            I led and developed the IEEE CS VITC Club Website in a team of 3. It
            is written in Astro and Tailwind UI.
          </p>{" "}
          <p
            class="mt-4 text-sm font-bold tracking-wider uppercase text-blue-600"
          >
            Visit GitHub
          </p>
        </a>
        <a
          href="https://github.com/ComputerSocietyVITC/bitwars-24"
          target="_blank"
          rel="noopener noreferrer"
          class="block w-full column lg:w-6/12 xl:w-5/12 mt-16 lg:mt-0"
        >
          <div class="relative mb-10 thumbnail">
            <figure class="relative overflow-hidden">
              <img width="640" height="427" class="thumb" src="/bitwars.png" />
            </figure>{" "}
          </div>{" "}
          <h2 class="mb-2 h2">Bitwars 2.0 Website</h2>
          <p>
            I was in the team that developed the website for Bitwars 2.0, a
            state-level hackathon organized by IEEE CS VITC. The event saw more
            than 500 participants from all over the state.
          </p>{" "}
          <p
            class="mt-4 text-sm font-bold tracking-wider uppercase text-blue-600"
          >
            Visit GitHub
          </p>
        </a>
      </div>
    </div>
  </div>
</Layout>

<style>
  figure {
    transition: transform 0.1s ease-in-out;
  }

  figure:hover {
    transform: scale(1.03);
  }
</style>
